---
import ContactForm from "../components/contactForm/ContactForm.jsx";
import Footer from "../components/footer/Footer.jsx";
import Header from "../components/header/Header.jsx";
---

<main>
  <Header />
  <ContactForm client:load />
  <Footer />
</main>

<style lang="scss">
  @import "../styles/style.scss";
</style>
