---
import ContactForm from "../components/contactForm/ContactForm.jsx";
import Footer from "../components/footer/Footer.jsx";
import Header from "../components/header/Header.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
<main>
  <Header />
  <ContactForm client:load />
  <Footer />
</main>
</Layout>

<style lang="scss">
  @import "../styles/style.scss";
</style>
