---
import Header from "../components/header/Header.jsx";
import Footer from "../components/footer/Footer.jsx";
import News from "../components/news/News.jsx";
import Layout from "../layouts/Layout.astro";
import Layout2 from "../components/layout2/Layout2.jsx";

---
<Layout>
<main>
  <div class="home page__flexblock">
    <Header />
    <section class="home__section home__section--hero">
      <Layout2 />
    </section>
    <News />
    <Footer />
  </div>
</main>
</Layout>


<style lang="scss">
  @import "../styles/style.scss";
</style>
